section(id="RegisterApp")
    header(id="header")
        h1= title
    section(id="main")
        p Welcome to #{title}
        div(class="table-header")
            div(class="code-col") C&oacute;digo
            div(class="name-col") Nombre de Materia
            div(class="quota-col") Cupos Disponibles
            div(class="editar-col") Operar
        ul(id="subjectList")
script(type="text/template", id="item-template").
    <div class="view">
        <div class="code"><span><%-code%></span></div>
        <div class="name"><span><%-name%></span></div>
        <div class="quota"><span><%-quota%></span></div>
        <div class="inscripciones"><a href="/subject/<%-code%>/subscribers">Ver Inscriptos</a></div>
    </div>
script(type="text/javascript").
    var app = {};


    app.SubjectList = Backbone.Collection.extend({
        model: Subject,
        url: '/json/subjects'
    });

    app.subjectList = new app.SubjectList();

    app.SubjectView = Backbone.View.extend({
        tagName: 'li',
        template: _.template($('#item-template').html()),
        render: function(){
            this.$el.html(this.template(this.model.toJSON()));
            return this;
        }
    });

    app.AppView = Backbone.View.extend({
        el: '#RegisterApp',
        initialize: function(){
            app.subjectList.on('add', this.render, this);
            app.subjectList.on("sync", this.render2, this);
            app.subjectList.fetch();
        },
        render: function(subject){
            var view = new app.SubjectView({model: subject});
            $('#subjectList').append(view.render().el);
        },
        render2: function() {
            console.log(app.subjectList.toJSON());
        }

    });

    var appView = new app.AppView();


