doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//code.jquery.com/jquery-1.11.3.min.js')
    script(src='http://underscorejs.org/underscore-min.js')
    script(src='http://backbonejs.org/backbone-min.js')
    script(src='/js/bundle.js')

  body!= body
