//
   Created by root on 09/11/15.
section(id="RegisterApp")
    header(id="header")
        h1 Listado de Inscriptos
    section(id="main")
        p #{code} - #{name}
        ul(id="studentList")
        a(id="new-student", class="new-student", href="/subscriber?code=#{code}") Nuevo Estudiante
script(type="text/template", id="item-template").
    <div class="view">
        <div class="padron"><span><%-code%></span></div>
        <div class="firstname"><span><%-firstname%></span></div>
        <div class="lastname"><span><%-lastname%></span></div>
    </div>
script(type="text/javascript").
    var app={};


