body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.table-header {
  width: 60%;
}

#subjectList {
  width: 40%;
}

.padron-col, .fistname-col, .lastname-col,
.padron, .firstname, .lastname{
  width: 33.3%;
  float: left;
}

#subjectList .code, .table-header .code-col{
  width: 15%;
  float: left;
}
#subjectList .name, .table-header .name-col{
  width: 50%;
  float: left;
}

#subjectList .quota, .table-header .quota-col{
  width: 15%;
  float: left;
}

#subjectList .inscripciones, .table-header .editar-col{
  width: 20%;
  float: left;
}

.new-student, .volver-button {
  margin: 10px;
}

#subscriberList, #subjectList {
  clear: both;
  position: relative;
  padding: 0px;
  decorator: none;
  list-style-type: none;
  min-height: 100px;
  width: 60%;
}

